<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.sample.social">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityLogin"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityFriendDetails" />
        <activity android:name=".ActivityChatDetails" />
        <activity
            android:name=".ActivitySelectFriend"
            android:label="@string/activity_select_friend" />
        <!-- <activity -->
        <!-- android:name=".ActivityLogin" -->
        <!-- android:label="@string/title_activity_activity_login" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->

        <activity
            android:name=".ActivityRegistration"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".UpdateSkills" />
        <activity android:name=".ActivityMain" />
        <activity
            android:name=".widget.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>